<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2127148_ycxx8cqoks.css">
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">查看活动</div>
            <form id="form" class="layui-form layui-card-body" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题:</label>
                    <div class="layui-input-inline">
                        <input id="title" name="title" type="text" required lay-verify="required" placeholder="请输入标题"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">活动类型:</label>
                    <div class="layui-input-block">
                        <label id="activityType" class="layui-form-label"></label>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">活动状态:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="正常" checked>
                        <input type="radio" name="status" value="2" title="暂停" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注:</label>
                    <div class="layui-input-inline">
                        <input id="remark" name="remark" type="text" required lay-verify="required" placeholder="请输入备注"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" >
                    <label class="layui-form-label">活动开始时间:</label>
                    <div class="layui-input-inline">
                        <input id="startTime" name="startTime" type="text"  placeholder="请输入活动开始时间"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" >
                    <label class="layui-form-label">活动结束时间:</label>
                    <div class="layui-input-inline">
                        <input id="endTime" name="endTime" type="text"  placeholder="请输入活动结束时间"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item" style="margin-top: 10px">
                    <div class="layui-input-block">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../assets/layui.all.js"></script>
<script src="../../assets/jquery.js"></script>
<script src="../../assets/common.js"></script>

<script>
    var form = layui.form;
    var layer = layui.layer;
    var laydate = layui.laydate;

    var id = null;
    //执行一个laydate实例
    laydate.render({
        elem: '#startTime', //指定元素
        type: 'datetime'
    });
    laydate.render({
        elem: '#endTime', //指定元素
        type: 'datetime'
    })


    $(function () {
        id = getUrlParam("id");

        loadDetail();


        /*$("#bindRoleBtn").click(function () {

        });*/
    })


    /**
     * 加载详情
     */
    function loadDetail() {
        $.ajax({
            url: getQueryCouponActivityDetailUrl() + "?couponActivityId=" + id,
            method: 'post',
            success: function (res) {
                if (200 == res.code) {
                    var model = res.data;
                    $("#title").val(model.title);
                    var content = "";
                    switch (model.activityType) {
                        case 1:content = '新用户注册';break;
                        case 2:content = '购买券包';break;
                        case 3:content = '兑换cdkey';break;
                        case 4:content = '好友赠送';break;
                        case 5:content = '升级发放';break;
                        case 6:content = '生日发放';break;
                        case 7:content = '节气发放';break;
                        case 8:content = '积分兑换';break;
                        case 9:content = '积豆赠券';break;
                        case 10:content = '节日发放';break;
                        case 11:content = '商家发券';break;
                    }
                    $("#activityType").html(content);
                    var index = model.status-1;
                    $("input[name=status]").eq(index).attr("checked", 'checked');

                    $("#remark").val(model.remark);
//执行一个laydate实例
                    laydate.render({
                        elem: '#startTime', //指定元素
                        type: 'datetime',
                        value: model.startTime
                    });
                    laydate.render({
                        elem: '#endTime', //指定元素
                        type: 'datetime',
                        value: model.endTime
                    })

                    form.render();
                } else {
                    layer.msg(res.message);
                }
            }
        });
    }




</script>

</body>
</html>