<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2127148_ycxx8cqoks.css">
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">添加角色</div>
            <form id="addUserForm" class="layui-form layui-card-body" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">角色名称:</label>
                    <div class="layui-input-block">
                        <input id="name" name="name" type="text" required lay-verify="required" placeholder="请输入角色名称"
                              readonly  autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注:</label>
                    <div class="layui-input-block">
                        <input id="remark" name="remark" type="text" required placeholder="请输入角色备注"
                               readonly autocomplete="off" class="layui-input">
                    </div>
                </div>


                <fieldset class="layui-elem-field layui-field-title">
                    <legend>权限绑定</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div id="permissionBox" class="layui-input-block">

                    </div>
                </div>


                <fieldset class="layui-elem-field layui-field-title">
                    <legend>菜单绑定</legend>
                </fieldset>

                <div id="menuTree">

                </div>


              <!--  <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button id="submitBtn" lay-submit="" lay-filter="submitBtn" class="layui-btn layui-btn-blue">
                            提交<i id="btnIcon" class="icon iconfont"></i></button>
                        <button id="resetBtn" type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>-->
            </form>
        </div>
    </div>
</div>

<script src="../../assets/layui.all.js"></script>
<script src="../../assets/jquery.js"></script>
<script src="../../assets/common.js"></script>

<script>
    var tree = layui.tree;
    var form = layui.form;
    var layer = layui.layer;
    var id = null;

        /**
     * 初始化菜单
     */
    function initMenuTree() {
        tree.render({
            elem: '#menuTree',
            data: getData(),
            id: 'menuTreeId',
            showCheckbox: false


        });
    }

    /**
     * 获取树形菜单
     */
    function getData() {
        var data = [];

        $.ajax({
            url: getQueryCheckedMenuByRoleIdUrl()+"?roleId="+id,    //后台数据请求地址
            type: "post",
            async:false,
            success: function (resut) {
                data = resut;
            }
        });
        return data;
    }



    /**
     * 初始化权限数据
     */
    function initPermissionCheckBox() {
        $.ajax({
            url: getQueryRoleDetailUrl()+"?roleId="+id,    //后台数据请求地址
            type: "post",
            async: false,
            success: function (res) {
                if (200 == res.code) {
                    $("#name").val(res.data.name);
                    $('#remark').val(res.data.remark);

                    var permissionBoxContent = "";
                    if (res.data.permissionList.length <= 0) {
                        permissionBoxContent = "<label>无数据</label>";
                    }
                    for (var i = 0 ; i < res.data.permissionList.length; i++) {
                        var permission = res.data.permissionList[i];
                        var inputCheckBox = "<input type='checkbox' checked disabled value='"+permission.permissionId+"' name='permission' title='"+permission.name+"' >";
                        permissionBoxContent += inputCheckBox;
                    }
                    $("#permissionBox").html(permissionBoxContent);
                    form.render();
                }
            }
        });
    }



    $(function () {
        id = getUrlParam("id");

        initMenuTree();

        initPermissionCheckBox();
    });



</script>

</body>
</html>