<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2127148_ycxx8cqoks.css">
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">添加商品</div>
            <form id="form" class="layui-form layui-card-body" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称:</label>
                    <div class="layui-input-inline">
                        <input id="name" name="name" type="text" required lay-verify="required" placeholder="请输入商品名"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">商品类型:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="productType" value="1" title="购买券包" checked>
                       <!-- <input type="radio" name="productType" value="2" title="充值返券" >-->
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">价格:</label>
                    <div class="layui-input-inline">
                        <input id="price" name="price" type="text" required lay-verify="required" placeholder="请输入商品价格"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">使用描述</label>
                    <div class="layui-input-block">
                        <textarea name="useDesc" placeholder="请输入使用描述" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top: 10px">
                    <div class="layui-input-block">
                        <button id="submitBtn" lay-submit="" lay-filter="submitBtn" class="layui-btn layui-btn-blue"  >提交<i id="btnIcon" class="icon iconfont"></i></button>
                        <button id="resetBtn" type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <script src="../../assets/layui.all.js"></script>
    <script src="../../assets/jquery.js"></script>
    <script src="../../assets/common.js"></script>

    <script>
        var form = layui.form;
        var layer = layui.layer;

        form.on('submit(submitBtn)', function(data){

            submit();

            return false;     //阻止表单跳转。如果需要表单跳转，去掉这段即可。

        });

        $(function (){

        });


        function submit(){
            $.ajax({
                url:getAddProductUrl(),
                method:'post',
                data:$('#form').serialize(),
                dataType:'json',
                beforeSend:function(){
                    $("#submitBtn").attr("disabled","true");
                    $("#btnIcon").addClass("iconjiazaizhong");

                },
                complete:function() {
                    $("#submitBtn").removeAttr("disabled");
                    $("#btnIcon").removeClass("iconjiazaizhong");
                },
                success:function (res) {
                    if (200 == res.code) {
                        //获取窗口索引
                        layer.msg("添加成功");
                        parent.reloadTable();
                        var outIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(outIndex);

                    }else {
                        layer.msg(res.message);
                    }
                },
                error:function () {
                    layer.msg("网络错误");
                }
            });
        }
    </script>

</body>
</html>