<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigege.dao.DictMapper">

    <select id="queryAllDict"  resultType="top.yigege.model.Dict" parameterType="java.util.Map">
        SELECT
        *
        FROM
        dict t
        WHERE
        1 = 1
        <if test="null != paramMap.id">
            AND t.id = #{paramMap.id}
        </if>

        <if test="null != paramMap.code and '' != paramMap.code">
            AND t.code = #{paramMap.code}
        </if>
    </select>


</mapper>