<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigege.dao.MenuMapper">



    <select id="queryTreeMenu" parameterType="java.lang.String" resultType="top.yigege.vo.LayuiTreeBean">
        SELECT
         m.id id , m.name title , m.pid pid,m.sort sort
        FROM
            menu m
    </select>
</mapper>