<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigege.dao.RoleMapper">

    <!-- 角色权限映射 -->
    <resultMap id="rolePermissionsMap"  type="top.yigege.model.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_no" property="roleNo"/>
        <result column="r_name" property="name"/>
        <result column="r_remark" property="remark"/>

        <!--角色对应的权限-->
        <collection property="permissionList" ofType="top.yigege.model.Permission">
            <id column="permission_id" property="permissionId"/>
            <result column="p_name" property="name"/>
            <result column="p_remark" property="remark"/>
        </collection>

    </resultMap>


    <select id="queryRoleInfo" parameterType="java.lang.Integer" resultMap="rolePermissionsMap">
        SELECT
            r.role_id,
            r.role_no,
            r.NAME r_name,
            r.remark r_remark,
            p.permission_id,
            p.NAME p_name,
            p.remark p_remark
        FROM
            role r
            LEFT JOIN role_permission rp ON r.role_id = rp.role_id
            LEFT JOIN permission p ON rp.permission_id = p.permission_id
        WHERE
            r.role_id = #{value}
    </select>

    <delete id="deleteRolePermissionRecord" parameterType="java.lang.Integer">
        DELETE
        FROM
            role_permission
        WHERE
            role_id = #{value}
    </delete>

    <delete id="deleteRoleMenuRecord" parameterType="java.lang.Integer">
        DELETE
        FROM
            role_menu
        WHERE
            role_id = #{value}
    </delete>


    <insert id="addRolePermissionRecord" parameterType="java.util.Map">
        INSERT INTO role_permission ( role_id, permission_id ) SELECT
        role_id,
        permission_id
        FROM
        <foreach collection="permissionIds" item="item"  open="("  separator="union all" close=")">
            SELECT
            #{roleId} role_id,
            #{item} permission_id
        </foreach> t
    </insert>


    <insert id="addRoleMenuRecord" parameterType="java.util.Map">
        INSERT INTO role_menu ( role_id, menu_id ) SELECT
        role_id,
        menu_id
        FROM
        <foreach collection="menuIds" item="item"  open="("  separator="union all" close=")">
            SELECT
            #{roleId} role_id,
            #{item} menu_id
        </foreach> t
    </insert>


    <select id="queryRoleList"  resultType="top.yigege.model.Role" parameterType="java.util.Map">
        SELECT
        *
        FROM
        role t
        WHERE
        1 = 1
        <if test="null != paramMap.role_id">
            AND t.role_id = #{paramMap.role_id}
        </if>

        <if test="null != paramMap.role_no and '' != paramMap.role_no">
            AND t.role_no = #{paramMap.role_no}
        </if>

        <if test="null != paramMap.name and '' != paramMap.name">
            AND t.name LIKE "%"#{paramMap.name}"%"
        </if>
    </select>

</mapper>