<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2127148_ycxx8cqoks.css">
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">查看任务</div>
            <form id="form" class="layui-form layui-card-body" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">任务名:</label>
                    <div class="layui-input-inline">
                        <input id="name" name="name" type="text" required lay-verify="required" placeholder="请输入任务名"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">表达式:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="cron" name="cron" lay-verify="confirmPassword" placeholder="请输入表达式" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类名:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="className" name="className" lay-verify="confirmPassword" placeholder="请输入类名" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">方法名:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="methodName" name="methodName" lay-verify="confirmPassword" placeholder="请输入方法名" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">任务状态:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="创建" checked>
                        <input type="radio" name="status" value="2" title="运行" >
                        <input type="radio" name="status" value="3" title="停止" >
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top: 10px">
                    <div class="layui-input-block">
                        <!--<button id="submitBtn" lay-submit="" lay-filter="submitBtn" class="layui-btn layui-btn-blue"  >提交<i id="btnIcon" class="icon iconfont"></i></button>
                        <button id="resetBtn" type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../assets/layui.all.js"></script>
<script src="../../assets/jquery.js"></script>
<script src="../../assets/common.js"></script>

<script>
    var form = layui.form;
    var layer = layui.layer;
    var id = null;

    form.on('submit()', function(data){

        return false;     //阻止表单跳转。如果需要表单跳转，去掉这段即可。

    });

    /**
     * 加载详情
     */
    function loadDetail() {
        $.ajax({
            url: getQuerySysJobDetailUrl() + "?sysJobId=" + id,
            method: 'post',
            success: function (res) {
                if (200 == res.code) {
                    var sysJob = res.data;
                    $("#name").val(sysJob.name);
                    $("#cron").val(sysJob.cron);
                    $("#className").val(sysJob.className);
                    $("#methodName").val(sysJob.methodName);

                    var index = sysJob.status-1;
                    $("input[name=status]").eq(index).attr("checked", 'checked');

                    form.render();
                } else {
                    layer.msg(res.message);
                }
            }
        });
    }



    $(function () {
        id = getUrlParam("id");

        loadDetail();
    });

</script>

</body>
</html>