<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2127148_ycxx8cqoks.css">
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">查看轮播</div>
            <form id="addUserForm" class="layui-form layui-card-body" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">轮播图片:</label>
                    <div class="layui-input-block">
                      <img  id="imageUrl" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">跳转url:</label>
                    <div class="layui-input-block">
                        <input id="linkUrl" name="linkUrl" type="text" required placeholder=""
                               readonly autocomplete="off" class="layui-input">
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<script src="../../assets/layui.all.js"></script>
<script src="../../assets/jquery.js"></script>
<script src="../../assets/common.js"></script>

<script>
    var tree = layui.tree;
    var form = layui.form;
    var layer = layui.layer;
    var id = null;



    /**
     * 初始化权限数据
     */
    function initBannerData() {
        $.ajax({
            url: getQueryBannerDetailUrl()+"?bannerId="+id,    //后台数据请求地址
            type: "post",
            success: function (res) {
                if (200 == res.code) {
                    $("#imageUrl").attr("src",res.data.imageUrl);
                    $('#linkUrl').val(res.data.linkUrl);
                }
            }
        });
    }



    $(function () {
        id = getUrlParam("id");

        initBannerData();
    });



</script>

</body>
</html>