<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigege.dao.CouponActivityPeaMapper">

    <resultMap id="couponActivityPeaMap" type="top.yigege.model.CouponActivityPea">
        <id column="coupon_activity_pea_id" property="couponActivityPeaId"/>
        <result column="coupon_activity_id" property="couponActivityId" />
        <result column="level_id" property="levelId"/>
        <result column="need_pea_num" property="needPeaNum"/>
        <result column="coupon_id" property="couponId" />
        <result column="num" property="num" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />



        <association property="coupon" javaType="top.yigege.model.Coupon">
            <id column="c_coupon_id" property="couponId"></id>
            <result column="c_name" property="name"></result>
            <result column="c_price" property="price"/>
            <result column="c_use_desc" property="useDesc"/>
            <result column="c_type" property="type"/>
            <result column="c_indate_type" property="indateType"/>
            <result column="c_mutex_flag" property="mutexFlag"/>
            <result column="c_over_money" property="overMoney"/>
            <result column="c_duration" property="duration"/>
            <result column="c_discount" property="discount"/>
            <result column="c_min_money" property="minMoney"/>
            <result column="c_max_money" property="maxMoney"/>
            <result column="c_indate_start_time" property="indateStartTime"/>
            <result column="c_indate_end_time" property="indateEndTime"/>
            <result column="c_create_time" property="createTime"/>
            <result column="c_update_time" property="updateTime"/>
        </association>
    </resultMap>



    <select id="queryCouponActivityPeaPageList"  resultMap="couponActivityPeaMap" parameterType="top.yigege.dto.modules.coupon.QueryCouponActivityPeaPageListDTO">
      SELECT
            cap.*,
            c.coupon_id c_coupon_id,
            c.NAME c_name
        FROM
            `t_coupon_activity_pea` cap
            LEFT JOIN t_coupon c ON cap.coupon_id = c.coupon_id
            LEFT JOIN t_coupon_activity ca on cap.coupon_activity_id = ca.coupon_activity_id
        WHERE 1 = 1
        AND ca.merchant_id = #{queryCouponActivityPeaPageListDTO.merchantId}
    </select>




</mapper>
