<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigege.dao.CouponActivityProductMapper">

    <resultMap id="couponActivityProductMap" type="top.yigege.model.CouponActivityRegister">
        <id column="coupon_activity_register_id" property="couponActivityRegisterId"/>
        <result column="coupon_activity_id" property="couponActivityId" />
        <result column="coupon_id" property="couponId" />
        <result column="num" property="num" />
        <result column="create_time" property="createTime" />
        <result column="updateTime" property="updateTime" />



        <association property="coupon" javaType="top.yigege.model.Coupon">
            <id column="c_coupon_id" property="couponId"></id>
            <result column="c_name" property="name"></result>
            <result column="c_price" property="price"/>
            <result column="c_use_desc" property="useDesc"/>
            <result column="c_type" property="type"/>
            <result column="c_indate_type" property="indateType"/>
            <result column="c_mutex_flag" property="mutexFlag"/>
            <result column="c_over_money" property="overMoney"/>
            <result column="c_duration" property="duration"/>
            <result column="c_discount" property="discount"/>
            <result column="c_min_money" property="minMoney"/>
            <result column="c_max_money" property="maxMoney"/>
            <result column="c_indate_start_time" property="indateStartTime"/>
            <result column="c_indate_end_time" property="indateEndTime"/>
            <result column="c_create_time" property="createTime"/>
            <result column="c_update_time" property="updateTime"/>
            <result column="num" property="num"/>
        </association>
    </resultMap>


</mapper>
