<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigege.dao.UserCouponMapper">

    <resultMap id="userCouponMap" type="top.yigege.model.UserCoupon">
        <id column="user_coupon_id" property="userCouponId" />
        <result column="coupon_activity_id" property="couponActivityId"/>
        <result column="coupon_id" property="couponId"/>
        <result column="user_id" property="userId"/>
        <result column="vip_card_id" property="vipCardId"/>
        <result column="num" property="num"/>
        <result column="used_num" property="usedNum"/>
        <result column="available_num" property="availableNum"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="expire_time" property="expireTime"/>
        <result column="status" property="status"/>
        <result column="c_name" property="couponName"/>
        <result column="c_use_desc" property="couponDesc"/>

    </resultMap>

    <select id="queryUserCouponPageList" resultMap="userCouponMap" parameterType="top.yigege.dto.modules.coupon.QueryUserCouponPageListDTO">
       SELECT
          uc.*,
          c.name c_name,
          c.use_desc c_use_desc
        FROM
            `t_user_coupon` uc
            LEFT JOIN t_user u ON uc.user_id = u.user_id
            LEFT JOIN t_coupon c ON uc.coupon_id = c.coupon_id
        WHERE
            1 = 1
            AND uc.vip_card_id = #{queryUserCouponPageListDTO.vipCardId}
            AND u.user_id = #{queryUserCouponPageListDTO.userId}

            <if test="1 == queryUserCouponPageListDTO.couponStatus">
                AND uc.STATUS = #{queryUserCouponPageListDTO.couponStatus}
                AND uc.available_num > 0
                and uc.expire_time<![CDATA[>]]> now()
            </if>
            <if test="2 == queryUserCouponPageListDTO.couponStatus">
                AND  (uc.uesd_num > 0)
            </if>
            <if test="5 == queryUserCouponPageListDTO.couponStatus">
                AND uc.STATUS = 1
                AND uc.available_num > 0
                and uc.expire_time <![CDATA[<]]> now()
            </if>
            order by uc.expire_time desc
    </select>




</mapper>
