<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigege.dao.WelfareMapper">

    <resultMap id="welfareMap" type="top.yigege.model.Welfare">
        <id column="welfare_id" property="welfareId"/>
        <result column="name" property="name" />
        <result column="image_url" property="imageUrl" />
        <result column="desc" property="desc" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />

    </resultMap>



    <select id="queryWelfarePageList"  resultMap="welfareMap" parameterType="top.yigege.dto.modules.welfare.QueryWelfarePageListDTO">
      SELECT
          *
        FROM
            `t_welfare`
        WHERE 1 = 1
        AND merchant_id = #{queryWelfarePageListDTO.merchantId}
    </select>




</mapper>
